<div class="p-4 flex flex-col gap-4">
  <h1 class="text-3xl font-semibold">{{classroom().name}}</h1>
  <!-- name of each tab group should be unique -->
  <div class="tabs tabs-lift">
    <input type="radio" name="my_tabs_3" class="tab" aria-label="People" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <h2> Teachers </h2>
      <h2> Students </h2>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Classwork" />
    <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 2</div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Marks" />
    <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 3</div>
  </div>
</div>