<header class="header-container">
    <h1 class="header">Simple Calendar</h1>

    <div class="tabs tabs-box">
        @for (tab of viewTabs; track tab.mode) {
        <input type="radio" class="tab" name="view_mode_tabs" [ariaLabel]="tab.label"
            [class.tab-active]="tab.mode === activeViewMode()" (click)="setActiveView(tab.mode)">
        }
    </div>

    <div class="join">
        <button type="button" class="join-item btn bg-base-100" (click)="goToPreviousRange()">«</button>
        <button type="button" class="join-item btn bg-base-100" (click)="goToToday()"> Today </button>
        <button type="button" class="join-item btn bg-base-100" (click)="goToNextRange()">»</button>
    </div>

</header>


<div class="card-container max-h-[46rem] overflow-y-auto">
    @switch (activeViewMode()) {
    @case ("day") {
    <app-simple-calendar-day [calendarEvents]="calendarEvents()" [dateRange]="currentDateRange()">
    </app-simple-calendar-day>
    }
    @case ("week") {
    <app-simple-calendar-week [calendarEvents]="calendarEvents()"
        [dateRange]="currentDateRange()"></app-simple-calendar-week>

    }
    @case ("month") {
    <app-simple-calendar-month [calendarEvents]="calendarEvents()"
        [dateRange]="currentDateRange()"></app-simple-calendar-month>

    }
    }
</div>