<div class="drawer lg:drawer-open min-h-screen bg-base-200">
  <!-- Drawer toggle for mobile -->
  <input id="app-drawer" type="checkbox" class="drawer-toggle" aria-label="Toggle navigation" />

  <div class="drawer-content flex flex-col min-h-screen">
    <main class="flex-1">
      <div class="mx-auto w-full max-w-screen-2xl p-8 sm:p-6 lg:p-8">
        <router-outlet></router-outlet>
      </div>
    </main>

    <footer class="mx-auto w-full max-w-screen-2xl p-4 sm:p-6 text-sm text-center">
      © 2025 LeoLMS — Built with Tailwind & DaisyUI
    </footer>
  </div>

  <!-- Sidebar Drawer -->
  <div class="drawer-side" id="app-sidebar">
    <label for="app-drawer" class="drawer-overlay" aria-label="Close sidebar"></label>

    <aside class="w-58 bg-base-100 border-base-300 rounded-r-4xl h-full flex flex-col">
      <div class="p-4 self-center">
        <a routerLink="/" class="btn btn-ghost text-xl font-bold" aria-label="Home">Leo</a>
      </div>

      <nav class="menu flex-1 overflow-y-auto w-full">
        <ul>
          @for (item of navLinks; track item.route) {
          <li>
            <a [routerLink]="item.route" routerLinkActive="active bg-base-200"
              [routerLinkActiveOptions]="{ exact: true }" class="hover:bg-base-300 transition-colors">
              <span class="flex justify-items-start h-9 w-9 items-center justify-center">
                <ng-icon [name]="item.iconPaths" class="text-lg"></ng-icon>
              </span>
              <span class="text-sm font-medium">{{ item.label }}</span>
            </a>
          </li>
          }
        </ul>
      </nav>

      <!-- Sidebar Footer -->
      <div class="p-4">
        <div class="alert alert-info text-sm">
          <span>Quick tip: Press <kbd>⌘</kbd><kbd>K</kbd> to search</span>
        </div>
      </div>
    </aside>
  </div>
</div>